.Careers {
    position: relative;
    .content {
        &>p {
            margin-top: $gutter-24;
        }
        .select {
            width: 100%;
        }
        .content-header {
            margin-top: -20px;
            .introduce {
                p {
                    font-weight: 500;
                }
            }
            .img-container {
                position: relative;
                width: 100%;
                padding-top: 56.25%; /* 16:9 Aspect Ratio */
                img {
                    width: 100%;
                    margin-top: -56.25%;
                }
            }
        }
        .list-header {
            font-size: $font-size-19;
            color: $color-header-light;
            border-bottom: 1px solid $color-header-light;
            margin: $gutter-24 0 0 0 !important;
            .ant-col-4 {
                padding: 0 $gutter-16;
            }
        }
        .ant-collapse {
            background-color: $color-transparent;
            border: 0;
            .ant-collapse-item {
                &:hover {
                    background: $color-white;
                }
                .ant-collapse-header {
                    font-weight: 500;
                    font-size: $font-size-19;
                    padding: $gutter-16;
                    color: $color-black;
                    .title {
                        margin-bottom: 5px;
                    }
                    .intro {
                        margin: 0;
                        color: $color-header-light;
                    }
                    .location {
                        font-size: $font-size-16;
                        padding-left: 0;
                    }
                }
                .ant-collapse-content {
                    background-color: $color-transparent;
                    font-size: $font-size-19;
                }
            }
        }
    }
} 