/*----------------
/	   BASIC
-----------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	font: 1em/1.5 sans-serif;
}

*::selection {
} 

article, aside, main, details, figcaption, figure, footer, header, hgroup, menu, nav, section, address, {
	display: block;
}

time {
	display: inline-block;
}

address {
	font-style: normal;
}

ul li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	outline: none;
	
	img{
		border:none;
		outline:none;
	}
}

input, textarea, button, select {
	outline: 0;
	border: 0;
}

button {
	cursor: pointer;
}

figure {
	position: relative;

	img,
	video,
	object,
	embed {
		display: inline-block;
		max-width: 100%;
	} 
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.h1 {
	margin-top: 20px;
	text-align: center;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
	clear: both;
}

@font-face {
    font-family: icons;
    src: url(../fonts/icons.eot);
    src: url(../fonts/icons.eot) format('embedded-opentype'),
    url(../fonts/icons.ttf) format('truetype'),
    url(../fonts/icons.woff) format('woff'),
    url(../fonts/icons.svg) format('svg');
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}

[class*=" icons-"],[class^=icons-] {
    font-family: icons !important;
    speak: none;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
}

.icons-exclamation:before {
    content: "\e900"
}

.icons-arrow_down:before {
    content: "\e901"
}

.icons-arrow_right:before {
    content: "\e902"
}

.icons-back:before {
    content: "\e903"
}

.icons-book:before {
    content: "\e904"
}

.icons-calendar:before {
    content: "\e905"
}

.icons-call:before {
    content: "\e906"
}

.icons-cancel:before {
    content: "\e907"
}

.icons-cbd:before {
    content: "\e908"
}

.icons-checkbox-off:before {
    content: "\e909"
}

.icons-checkbox-on:before {
    content: "\e90a"
}

.icons-comment:before {
    content: "\e90b"
}

.icons-done:before {
    content: "\e90c"
}

.icons-edit:before {
    content: "\e90d"
}

.icons-education:before {
    content: "\e90e"
}

.icons-email:before {
    content: "\e90f"
}

.icons-facebook:before {
    content: "\e910"
}

.icons-filter:before {
    content: "\e911"
}

.icons-fire:before {
    content: "\e912"
}

.icons-foto:before {
    content: "\e913"
}

.icons-foto_add:before {
    content: "\e914"
}

.icons-Google:before {
    content: "\e915"
}

.icons-heart_full:before {
    content: "\e916"
}

.icons-help:before {
    content: "\e917"
}

.icons-home:before {
    content: "\e918"
}

.icons-instagram:before {
    content: "\e919"
}

.icons-like:before {
    content: "\e91a"
}

.icons-list:before {
    content: "\e91b"
}

.icons-location:before {
    content: "\e91c"
}

.icons-lock:before {
    content: "\e91d"
}

.icons-lock-2:before {
    content: "\e91e"
}

.icons-logo:before {
    content: "\e91f"
}

.icons-log-out:before {
    content: "\e921"
}

.icons-loyalty:before {
    content: "\e922"
}

.icons-loyalty-copy:before {
    content: "\e923"
}

.icons-map:before {
    content: "\e924"
}

.icons-medical:before {
    content: "\e925"
}

.icons-menu:before {
    content: "\e926"
}

.icons-more:before {
    content: "\e927"
}

.icons-my_location:before {
    content: "\e928"
}

.icons-Pending:before {
    content: "\e92a"
}

.icons-percent:before {
    content: "\e92b"
}

.icons-persona:before {
    content: "\e92c"
}

.icons-rec:before {
    content: "\e92d"
}

.icons-reply:before {
    content: "\e92e"
}

.icons-search:before {
    content: "\e92f"
}

.icons-shopping_cart:before {
    content: "\e930"
}

.icons-shopping_cart_add:before {
    content: "\e931"
}

.icons-SiteMap:before {
    content: "\e932"
}

.icons-time:before {
    content: "\e933"
}

.icons-twitter:before {
    content: "\e934"
}

.icons-uber:before {
    content: "\e935"
}

.icons-way:before {
    content: "\e936"
}

.icons-logoSSC:before {
    content: "\e920";
    color: #fff
}

.icons-navigate_next:before {
    content: "\e929"
}
