$color-transparent: rgba(0,0,0,0); 
$color-bg: #f3f1e6;
$color-content-bg: #e8e6d9;
$color-aside-bg: #efeedd;

$color-dark: rgba(50, 62, 72, 1);
$color-white: #fff;

$color-text-light: rgba(50, 62, 72, 0.54);
$color-text-warning: rgba(50, 62, 72, 0.54);

$color-header-light: rgba(50, 62, 72, 0.7);

$color-button-success: #1b9854;

$color-border: rgba(50, 62, 72, 0.2);

$color-tooltip-bg: #67a14b;
$color-header-bg: #586E80;
$color-footer-bg: #586E80;