$color-bg: #f3f1e6;
$color-content-bg: #e8e6d9;

$color-dark: rgba(46, 51, 61, 1);
$color-white: #fff;

$color-text-light: rgba(46, 51, 61, 0.54);
$color-text-warning: rgba(46, 51, 61, 0.54);

$color-header-light: rgba(46, 51, 61, 0.7);

$color-button-success: #1b9854;

$color-border: rgba(46, 51, 61, 0.2);

$color-tooltip-bg: #67a14b;
$color-header-bg: #4c5463;
$color-footer-bg: #4c5463;