/* Common layout */
body {
    background: $color-bg;
    #root {
        .LayoutMain {
            .container {
                max-width: 1470px;
                width: 100%;
                margin: 0 auto;
                padding: 0 16px;
                position: relative;
            }
            /* Header */
            .ant-layout-header {
                background: $color-dark;
                color: $color-white;
                padding: 0;
                height: 80px;
                margin-bottom: 10px;
                box-shadow: 0 1px 3px $color-header-bg;
                text-align: center;
                position: relative;
                .logo {
                    a {
                        display: inline-block;
                        position: relative;
                        z-index: 1001;
                        height: 100%;
                        width: 154px;
                        float: left;
                        padding-top: 0;
                        .icon-logo1 {
                            font-size: 36px;
                            color: #67A14B;
                            display: none;
                            @media (min-width: 1024px) {
                                display: block;
                            }
                        }
                        .icon-logo {
                            width: 150px;
                            height: 40px;
                            display: inline-block;
                            // position: relative;
                            // bottom: 28px;
                            font-size: 40px;
                        }
                    }
                }
                .menu {
                    height: 64px;
                    padding: 0 50px;
                    line-height: 64px;
                }
                .search {
                    display: flex;
                    right: 16px;
                    left: auto;
                    font-size: 32px;
                    z-index: 1005;
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    color: #fff;
                    align-items: center;
                    transition: width .3s ease;
                    form {
                        width: 0;
                        overflow: hidden;
                        transition: width .3s ease;
                        @media (min-width: 1024px) {
                                width: auto;
                        }
                        input {
                            width: 195px;
                            height: 40px;
                            border: 0;
                            background-color: #586E80;
                            font-size: 19px;
                            padding-top: 4px;
                            padding-left: 42px;
                            border-radius: 2px;
                            color: #fff;
                            transition: width .3s ease;
                            &::-webkit-input-placeholder {
                                color:rgba(255,255,255,.54);
                                font-size:19px;
                                font-family:MyriadPro-Regular,Helvetica,Arial,sans-serif
                            }
                            &::-moz-placeholder {
                                color:rgba(255,255,255,.54);
                                font-size:19px;
                                font-family:MyriadPro-Regular,Helvetica,Arial,sans-serif
                            }
                            &:-ms-input-placeholder {
                                color:rgba(255,255,255,.54);
                                font-size:19px;
                                font-family:MyriadPro-Regular,Helvetica,Arial,sans-serif
                            }
                            &:-moz-placeholder {
                                color:rgba(255,255,255,.54);
                                font-family:MyriadPro-Regular,Helvetica,Arial,sans-serif;
                                font-size:19px
                            }
                            &:-webkit-autofill {
                                -webkit-box-shadow:0 0 0 1000px #586E80 inset;
                                -webkit-text-fill-color:#fff !important;
                                background-image:none!important
                            }
                            @media all and (max-width: 1023px) {
                                width:0;
                                height:32px;
                                font-size:16px;
                                &::-webkit-input-placeholder{font-size:16px}
                                &::-moz-placeholder{font-size:16px}
                                &:-ms-input-placeholder{font-size:16px}
                                &:-moz-placeholder{font-size:16px}
                            }
                            @media (max-width: 1399px) and (min-width: 1024px) {
                                width: 160px;
                            }
                        }
                        button {
                            position: absolute;
                            left: 0;
                            top: 16px;
                            background: 0 0;
                            border: 0;
                            span {
                                font-size: 32px;
                                cursor: pointer;
                                color: #fff;
                            }
                        }
                    }
                }
                .subline {
                    background: $color-header-bg;
                    height: 16px;
                    // padding: 0 50px;
                    // line-height: 16px;
                }
            }
            /* Content */
            .ant-layout-content {
                min-height: calc(100vh - 320px);
                background: $color-bg;
                color: $color-dark;
            }
            /* Footer */
            .ant-layout-footer {
                background: $color-dark;
                color: $color-white;
                min-height: 230px;
                /* Footer - Menu */
                .menu {

                }
            }
        }
    }
}
