/* Common layout */

body {
    background-color: $color-bg;
    overflow-x: hidden;
    font-family: 'MyriadPro-Regular';
    font-size: $font-size-16;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: $color-black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'MyriadPro-Bold';
        font-size: $font-size-19;
    }
    button,
    *[type=button],
    *[type=submit] {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
        border: 0;
    }
    #root {
        .LayoutMain {
            background: $color-bg;
            .desktop {
                display: block;
                @media all and (max-width: 767px) {
                    display: none;
                }
            }
            .mobile {
                display: none;
                @media all and (max-width: 767px) {
                    display: block;
                }
            }
            .container {
                max-width: 1470px;
                width: 100%;
                margin: 0 auto;
                padding: 0 16px;
                position: relative;
            }
            /* Header */
            .ant-layout-header {
                background: $color-dark;
                color: $color-white;
                padding: 0;
                height: 64px;
                margin-bottom: $gutter-16;
                box-shadow: 0 1px 3px $color-header-bg;
                text-align: center;
                position: relative;
                @media (max-width: 1023px) {
                    margin-bottom: 24px;
                }
                .container {
                    display: flex;
                    height: 64px;
                    align-items: center;
                    justify-content: space-between;
                    .logo {
                        @media (max-width: 1023px) {
                            order: 2;
                        }
                        a {
                            display: inline-block;
                            position: relative;
                            z-index: 1001;
                            height: 100%;
                            width: 154px;
                            // float: left;
                            padding-top: 0;
                            margin-top: 36px;
                            @media (max-width: 1023px) {
                                margin-top: 0;
                                vertical-align: text-bottom;
                            }
                            .icon-logo1 {
                                font-size: 36px;
                                color: #67A14B;
                                display: none;
                                @media (min-width: 1024px) {
                                    display: block;
                                }
                            }
                            .icon-logo {
                                width: 150px;
                                height: 40px;
                                display: inline-block;
                                font-size: 40px;
                                @media (max-width: 1023px) {
                                    vertical-align: text-top;
                                }
                            }
                        }
                    }
                }
                .subline {
                    background: $color-header-bg;
                    height: 16px; // padding: 0 50px;
                    // line-height: 16px;
                }
            }
            /* Content */
            .ant-layout-content {
                min-height: calc(100vh - 320px);
                color: $color-dark;
                .container {
                    width: 1200px;
                    max-width: 100%;
                    padding: 0 65px;
                    margin-bottom: 30px;
                    
                    @media (max-width: 1160px) {
                        width: 964px;
                    }
                    @media (max-width: 1470px) {
                        width: 1200px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }
                    @media (max-width: 767px) {
                        padding-left: $gutter-24;
                        padding-right: $gutter-24;
                        width: 100%;
                    }
                    @media (max-width: 420px) {
                        padding-left: $gutter-16;
                        padding-right: $gutter-16;
                        width: 100%;
                    }
                }
                .content-bottom {
                    min-height: 222px !important;
                    max-height: 395px;
                    background: $color-aside-bg;
                    padding: 25px 50px;
                    @media (max-width: 1469px) {
                        min-height: 184px !important;
                    }
                    .container {
                        margin-bottom: 0;
                        padding: 0;
                        .content-bottom-title {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
